<div class="welcome-container">
  <h1>Home Page</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pretium fermentum cursus. Suspendisse potenti. Cras magna lectus, interdum vel congue quis, efficitur et diam. Nam pulvinar pulvinar malesuada. Etiam commodo orci ut tincidunt venenatis. Nulla sagittis eu odio tincidunt luctus. Aliquam id venenatis lacus. Nulla venenatis luctus massa, dapibus volutpat felis tempus ut. Nullam consequat, magna vitae eleifend vulputate, est ex hendrerit lectus, et feugiat mauris massa at quam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
  </p>
  <p>
    Nullam turpis lacus, auctor a diam ac, eleifend lobortis nulla. Nulla dignissim odio nulla, auctor volutpat dolor accumsan sit amet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam laoreet varius finibus. Donec ipsum eros, euismod vitae quam sit amet, sodales aliquet arcu. Integer nec facilisis neque, vitae sagittis sem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In pellentesque nisl ac dolor lacinia, a aliquet lectus laoreet. Curabitur iaculis pellentesque urna id ornare. Phasellus tempus ipsum sit amet sem iaculis malesuada. Integer vitae lectus aliquam, mollis massa a, congue lectus. Cras quis vulputate erat. Ut posuere condimentum massa ac egestas.
  </p>
</div>
