<div class="users-container">
  <h1>Users</h1>

  <mat-grid-list cols="3" [gutterSize]="'1rem'" rowHeight="250px">
    <mat-grid-tile *ngFor="let tile of tiles"
                   [colspan]="tile.cols"
                   [rowspan]="tile.rows">

      <ng-container [ngSwitch]="tile.component">

        <app-new-registrations *ngSwitchCase="'registrations'"
                               [newRegistrationsCount]="registrationsToday$ | async"></app-new-registrations>
        <app-new-content *ngSwitchCase="'new-content'"></app-new-content>
        <app-average-session *ngSwitchCase="'average-session'"></app-average-session>

      </ng-container>

    </mat-grid-tile>
  </mat-grid-list>

</div>
